.main {
  --header-height: 3em;

  --color-0: #e7b639;
  --color-1: #53ebbc;
  --color-2: #c787ca;
  --color-3: #6cd62c;
  --color-4: #0499ff;


  background-color: #343537;
  box-shadow: 0 0 15px #000;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);

  position: fixed;
  top: 20px;
  left: 50%;

  width: 500px;
  height: var(--header-height);
  border-radius: 10px;

  transform: translate(-50%);
  overflow: hidden;
}

.nav_items {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-around;
}

.nav_item {
  cursor: pointer;
  flex: 1;
  height: var(--header-height);
  line-height: var(--header-height);
  text-align: center;
}

.nav_item:hover {
  color: bisque;
}

.float_bg {
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: var(--header-height);
  width: 20px;
  border-radius: 3px;
  background-color: gray;

  transition-property: left, width, opacity;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}