.main {
  --color-0: #e7b639;
  --color-1: #53ebbc;
  --color-2: #c787ca;
  --color-3: #6cd62c;
  --color-4: #0499ff;

  background-color: #34353700;
  box-shadow: 0 0 15px #000;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);

  position: relative;
  overflow: hidden;
}

.nav_items {
  color: white;
  display: flex;
  justify-content: center;
}

.nav_item {
  cursor: pointer;
  padding: 20px;
}

.nav_item:hover {
  color: bisque;
}

.float_bg {
  pointer-events: none;
  cursor: pointer;
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: 0px;
  border-radius: 3px;
  background-color: gray;

  transition-property: left, opacity;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}