.root {
  width: 100%;
  overflow: hidden;
}

.main {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;

  background-color: #343537;
  box-shadow: 0 0 15px #000;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  opacity: 0.6;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}